.container{
    color:rgba(4, 50, 110, 0.685); 
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: ridge 3px;
    background-color:  rgb(42, 136, 194);
}

.contenido{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dos{
    background-color: rgb(42, 136, 194);
    border: ridge 3px;
}

.imga{
    text-align: center;
    font-size: 5rem;
 }

 .tres{
    text-align: center;
    background-color: rgb(42, 136, 194);
    border: ridge 3px;
}